* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: system-ui;
}
.select-mobile {
  position: relative;
  width: 300px;
  margin: auto;
}
.select-mobile__value {
  padding: 0 20px;
  line-height: 48px;
  transition: opacity 0.25s;
}
.select-mobile__placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  padding: 0 4px;
  line-height: 48px;
  transition: all 0.25s;
}
.select-mobile__placeholder--onTop {
  font-size: 13px;
  line-height: 11px;
  background-color: #fff;
  bottom: auto;
  transform: translateY(-7px);
}
.select-mobile__native-select {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.select-mobile__label {
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid #808080;
  border-radius: 2px;
}
.select-mobile__label:after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: #808080 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: ' ';
}
.select {
  position: relative;
  width: 300px;
  margin: auto;
}
.select__control {
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid #808080;
  border-radius: 2px;
}
.select__control:after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: #808080 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: ' ';
}
.select__value {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
  padding: 0 15px;
  line-height: 48px;
  opacity: 1;
  pointer-events: none;
}
.select__value--hidden {
  opacity: 0;
}
.select__label {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 14px;
  left: 10px;
  padding: 0 5px;
  line-height: 48px;
  transition: all 0.25s;
  pointer-events: none;
}
.select__label--onTop {
  font-size: 13px;
  line-height: 11px;
  background-color: #fff;
  bottom: auto;
  transform: translateY(-7px);
}
.select__input {
  position: absolute;
  border: 0;
  padding: 0 15px;
  font-size: 14px;
  outline: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.select__menu-wrap {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #fff;
  border: 1px solid #808080;
  margin-top: -1px;
  max-height: 200px;
}
.select__menu {
  text-align: left;
  list-style: none;
  max-height: 198px;
  overflow-y: auto;
}
.select__menu--isEmpty {
  padding: 8px 15px;
  font-size: 15px;
}
.select__option {
  cursor: pointer;
  font-size: 15px;
  padding: 8px 15px;
}
.select__option-text .highlight {
  color: #ffa500;
  text-decoration: underline;
}
.App__title {
  text-align: center;
  font-size: 32px;
  margin: 50px 0;
  font-weight: 400;
}
